.footer-text {
  text-align: center;
  color: #939393;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 80px;
  padding-bottom: 19px;
  @media screen and (min-width: 768px){
    margin-top: 60px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 320px){
    font-size: 14px;
    line-height: 17px;
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 60px;
    padding-bottom: 27px;
  }
}

.heart {
  font-size: 16px;
  line-height: 0.8;
  text-align: center;
  color: rgb(247, 95, 68);
}
