.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #939393;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 80px;
  margin-bottom: 19px;
  @media screen and (min-width: 320px){
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.7px;
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px){
    margin-top: 60px;
    margin-bottom: 18px;
  }
}

.heart {
  font-size: 16px;
  line-height: 0.8;
  text-align: center;
  color: rgb(247, 95, 68);
}
