<header>
  <div class="header">
    <a class="logo animate__animated animate__rotateIn" href="#">
      <svg class="logo__icon">
        <use href="./images/sprite.svg#icon-logoevent"></use>
      </svg>
    </a>
    <div class="logo-gradient"></div>

    <h1 class="header-title animate__animated animate__bounceInDown">
      FIND BEST EVENTS AROUND THE WORLD
    </h1>
    <div class="loockfor">
      <form class="search-form" id="search-form">
        <input
          class="input-search"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Start searching"
        />
        <button class="search-button" type="submit">
          <svg class="input-icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <div class="choose-form">
        <!-- <input
          list="country-code"
          class="input-country"
          type="text"
          name="country"
          id="country"
          autocomplete="off"
          placeholder="Choose country"
        /> -->
        <select class="input-country" name="country" id="select-country">
          <option value="" disabled selected hidden>Choose country</option>
        </select>
        <button class="choose-button" type="button" id="countryBtn">
          <svg class="input-icon" width="15" height="10">
            <use href="./images/sprite.svg#icon-polygon"></use>
          </svg>
        </button>
      </div>
      <ul class="select"></ul>
    </div>
  </div>
</header>
