<div class="backdrop is-hidden">
    <div class="modal">
        <button class="modal__close-button">
            <svg class="modal__icon-close" width="17" height="17">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        
        <!-- <img class="modal__preview-img" src="https://www.memphisveterinaryspecialists.com/files/best-breeds-of-house-cats-memphis-vet-1-1.jpeg" width="132" height="132" alt="">
 
        <div class="modal__data">
            <img class="modal__image" src="https://www.memphisveterinaryspecialists.com/files/best-breeds-of-house-cats-memphis-vet-1-1.jpeg" width="360" height="641" alt="">
            <div class="modal__info">
                <ul class="modal__info-list">
                    <li class="modal__info-list-item">
                        <h2 class="modal__title">INFO</h2>
                        <p class="modal__text">Atlas Weekend is the largest music festival
                            in Ukraine.More than 200 artists will create
                            a proper music festival atmosphere on 10 stages</p>
                    </li>
                    <li class="modal__info-list-item">
                        <h2 class="modal__title">WHEN</h2>
                        <p class="modal__text">2021-06-09</p>
                        <p class="modal__text">20:00 (Kyiv/Ukraine)</p>
                    </li>
                    <li class="modal__info-list-item">
                        <h2 class="modal__title">WHERE</h2>
                        <p class="modal__text">Kyiv, Ukraine</p>
                        <p class="modal__text">VDNH</p>
                    </li>
                    <li class="modal__info-list-item">
                        <h2 class="modal__title">WHO</h2>
                        <p class="modal__text">The Black Eyed Peas</p>
                    </li>
                    <li class="modal__info-list-item">
                        <h2 class="modal__title">PRICES</h2>
                        <ul class="modal__prices-list">
                            <li class="modal__prices-list-item">
                                <div class="modal__prices-list-box">
                                    <svg width="24" height="16">
                                        <use href="./images/sprite.svg#icon-ticket1"></use>
                                    </svg>
                                    <p class="modal__text modal__text--prices-list">Standart 300-500 UAH</p>
                                </div>                                
                                <a class="modal__prices-list-link" href="" target="_blank" rel="noopener noreferrer">BUY TICKETS</a>
                            </li>
                            <li class="modal__prices-list-item">
                                <div class="modal__prices-list-box">
                                    <svg width="24" height="16">
                                        <use href="./images/sprite.svg#icon-ticket2"></use>
                                    </svg>
                                    <p class="modal__text modal__text--prices-list">VIP 1000-1500 UAH</p>
                                </div>                                
                                <a class="modal__prices-list-link" href="" target="_blank" rel="noopener noreferrer">BUY TICKETS</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    <button type="button" class="modal__more-button">MORE FROM THIS AUTHOR</button> -->
  </div>
</div>
